.ColumnChooser-container {
    width: 30vw;
    height: 5vh;
    left: 0%;
    top: 20%;

    display: flex;
    flex-direction: row;

    border: 1px solid #343434;
}

.columnState-button {
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #545454;
    border: 1px solid #343434;

    transition: 200ms ease-in-out;
}

.columnState-button-off {
    background-color: #343434;
}

.columnState-button:hover {
    background-color: #656565;
}

.columnState-button-off:hover {
    background-color: #454545;
}