.DataColumn-container {
    height: auto;

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #2a2a2a;

    border: 1px solid #454545;
}

.DataColumn-header {
    border-bottom: 1px solid #454545;

    text-align: center;
}