.DataTable-container {
    width: 98%;
    height: 99%;
    background-color: #454545;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1%;
    padding-bottom: 0;

    overflow: hidden;


    border: 1px solid #343434;
    
    transition: 200ms ease-in-out;
}

.DataTable-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #4a4a4a;
}

.DataTable-header {
    width: 100%;
    text-align: center;
    color: #ffffff;

    border-bottom: 1px solid #343434;

    display: flex;
}

.DataTable-header-item {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #343434;
    border-top: none;
    border-bottom: none;
    background-color: #545454;

    text-align: center;
    align-content: center;
}

.DataTable-body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.DataTable-delete-empty {
    width: 30px;
    height: 30px;
    color: #ffffff; 
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    font-size: x-large;
    border: 1px solid transparent;
}