.DataTable-container {
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

    height: 75vh;
    width: 80vw;

    background-color: #454545;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    padding-bottom: 0;

    border: 1px solid #343434;
    
    transition: 200ms ease-in-out;
}

.DataTable-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #4a4a4a;
}