.DataRow-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #343434;
}

.DataRow-item {
    height: 100%;
    flex: 1;
    color: #ffffff;

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    border: #343434 1px solid;
    border-top: none;
    border-bottom: none;
}

.DataRow-delete {
    width: 30px;
    height: 30px;
    color: #ffffff; 
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    font-size: x-large;
    background-color: #d9534f; 
    border: 1px solid #b52b27;
    cursor: pointer;
}

.DataRow-delete:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #8b1c1a;
}