.RecorderPage-container {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: #242424
}

.RecorderPage-recording-symbol {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vh;

    border: 1px solid #444444;
    border-radius: 100%;

    background-color: #303030;
    color: #242424;

    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 200ms ease-in-out;
}

.recording-active {
    background-color: #884444;
    color: #ffffff;
}

.recording-paused {
    background-color: #AA6633;
    color: #ffffff;
}